html *{
    margin:0;
    padding:0;
}
#wrapper{

}

.celula{
    width:257px;
    height:152px;
    border:solid 1px #FF0;
    float:left;
    overflow: visible;
}
.celula img{
    border : 0 none;
}
