#wrapper{
    width:1312px;

    border:solid 1px #000;
    display:block;
    overflow:scroll;
}

.celula{
    width:257px;
    height:152px;
    border:solid 1px #FF0;
    float:left;
    overflow: visible;
}
